<%- include("./partials/header.ejs") %>

<% if(!locals.tracks){ %>
    <h1>Ciao</h1>
<% } else { %>
    <form action="/save-tracks" method="POST">
        <% tracks.forEach(track => { %>
            <div class="">
                <input type="checkbox" name="selectedTracks" value="<%= track.name %>,<%= track.artist %>">
                <label><%= track.name %> by <%= track.artist %></label>
            </div>
        <% }); %>
        <button type="submit">Save Selected Tracks</button>
    </form>
    
<% } %>

<%- include("./partials/footer.ejs") %>